.navbar{
    display: flex;
    gap: 25px;
    float: right;
}
.element{
    margin-top: 9px;
    display: flex;
    gap: 25px;
}
body{
    padding: 16px;
}
*{
    font-family: Arial, sans-serif;
}
.material-icons{
    height: 30px;
    width: 30px;
}
.profile{
    height: 30px;
    width: 30px;
}
.voice-search{
    position: absolute;
    right: 445px;
    top: 400px;
    width: 30px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.navv{
    color: black; 
}
.navv:hover{
    text-decoration: underline;
}
.content{
    padding-top: 190px;
    text-align: center;
}
h1{
    font-size: 72px; 
}
.google-g{
    color: #3572EF;
}
.google-oe{
    color: #FF0000;
}
.google-o{
    color:#FFDB00 ;
}

.google-l{
    color:#0A6847 ;
}
.search-btn{
    border-radius: 30px;
    border: 1px solid gray;
    height: 50px;
    width: 700px;
    margin-bottom: 30px;
}
.search-btn:hover{
    box-shadow: 0 1px 6px 0 gray;
}
button{
    height: 35px;
    margin-right: 10px;
    font-size: 15px;
    border: 1px solid transparent;
}
button:hover{
    border: 1px solid black;
    box-shadow: 0 1px 6px 0 gray;
}
.dropdown-app{
    width: 45px;
    height: 45px;
}
.dropdown{
    width: 290px;
    padding: 20px 10px 20px 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 100px;
    display: none;
}
.dropdown:hover{
    box-shadow: 0 1px 6px 0 gray;
}
.app{
    display: inline-block;
    width: 90px;
    text-align: center;
}
.app:hover{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;   
}
.dropdown-wrapper{
    display: inline-block;
}
.dropdown-wrapper:hover .dropdown{
    display: block;
}
.app > p{
    color: rgba(0, 0, 0, 0, .87);
    margin-bottom: 15px;
    margin-top: 0px;
    padding-top: 8px;
    margin-right: 0px;
    margin-left: 0px;
}
@media (max-width: 600px){
    .navv{
        font-size: 14px; 
    }
    element{
        margin-top: 5px;
    }
    h1{
        font-size: 56px; 
    }
    .search-btn{
        height: 45px;
        width: 310px;
    }
    button{
        font-size: 14px;
    }
}
@media (min-width: 600px){
    .search-btn{
        height: 45px;
        width: 310px;
    }
}
@media (min-width: 768px){
    .voice-search{
        right: 120px;
        top: 404px;
    }
    .search-btn{
        height: 50px;
        width: 680px;
    }
}
@media (min-width: 1024px){
    .voice-search{
        right: 185px;
        top: 404px;
    }
}
@media (min-width: 1280px){
    .voice-search{
        right: 445px;
        top: 404px;
    }
}